<% provide(:title, 'About') %>
<h1>Scholar. Juggling-Pro. Coding Connoiseur.</h1>

<p>
  At 16, I was introduced to html by having text appear on a computer screen. The days following included being in front of a computer, coding anything and everything that I could in hopes of learning this amazing new concept. The love for computers grew from that point on drastically.
</p>