<% provide(:title, 'Fun') %>
<h1>Fun Programs</h1>
<div class="row">
  <div class="span6 offset3">
<form id="birth_year">
  <input type="text">
  <button type="button" onclick="life_time()">Calculate</button>
</form>
