<div class="center hero-unit">
<!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
      <h2>My Life.</h2>
<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <%= image_tag("cincy.jpg", alt: "Cincinnati 513") %>
      <div class="carousel-caption">
        <p>Hello World</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("uc.png", alt: "University of Cincinnati") %>
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("uc.png", alt: "University of Cincinnati") %>
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("uc.png", alt: "University of Cincinnati") %>
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
