<footer class="footer">
  <small>
    <a href="http://twitter.com/">Personal Site</a>
    by Gage Shaeffer
  </small>
  <nav>
    <ul>
      <li><%= link_to "Twitter",   href="https://twitter.com/gageywagey" %></li>
      <li><%= link_to "Facebook", href="https://www.facebook.com/gage.shaeffer.7" %></li>
    </ul>
  </nav>
</footer>